# Bot specific modules
/pybo-discord-bot/src/modules/experimental.py
/modules/templates.py
# Heroku files
/modules/Procfile
/modules/requirements.txt
/modules/runtime.txt
# IDE Files
/venv
/.idea
src/modules/__pycache__
# heh
.env