asyncpg == 0.21.0
asyncio	== 3.4.3
dotenvy == 0.2.0
psycopg2  == 2.8.6
requests ~= 2.25.1
PySide6	== 6.0.4
aiohttp	== 3.6.3
astroid	== 2.5.6
async-timeout == 3.0.1
asyncpg	== 0.21.0
attrs	== 20.3.0
autopep8== 1.5.5
cachepy	== 1.2
certifi	== 2020.12.5
chardet	== 3.0.4
colorama== 0.4.4
discord-components == 1.0.0
discord-py-slash-command == 2.0.0
discord.py	== 1.5.1
dotenvy	== 0.2.0
flake8	== 3.8.4
future	== 0.18.2
idna	== 2.10
isort	== 5.8.0
jedi	== 0.17.2
mccabe	== 0.6.1
multidict == 4.7.6
parso == 0.7.1
pip	== 20.3.3
pluggy == 0.13.1
protobuf == 3.17.0
psycopg2 == 2.8.6
pyasn1	== 0.4.8
pyasn1-modules	== 0.2.8
pycodestyle	== 2.6.0
pydocstyle	== 6.0.0
pyflakes	== 2.2.0
pylint == 2.8.2
pyparsing == 2.4.7
python-jsonrpc-server == 0.4.0
python-language-server == 0.36.2
rope == 0.19.0
rsa	== 4.7.2
schedule == 1.1.0
setuptools == 51.1.0.post20201221
shiboken6 == 6.0.4
six	== 1.16.0
snowballstemmer	== 2.1.0
soupsieve == 2.1
toml	== 0.10.2
ujson	== 4.0.2
urllib3	== 1.26.4
wrapt	== 1.12.1
yapf	== 0.31.0
yarl	== 1.5.1